body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fffab8;
}


.container .brand-logo{
	font-family: "Comic Sans MS", sans-serif;
	text-decoration: none;
}

a:hover,a {
	font-family: "Impact", sans-serif;
	color: white;
	text-decoration: none;
}


h6 {
	font-family: "Impact", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cards {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.card {
	position: relative;
	left: 50px;
	top: 50px;
	margin-right: 50px;
}