$color: #3f51b5
$small-screen: 600px
$medium-screen: 800px

*
  outline: none
  margin: 0
  padding: 0
body
  background: #eeeeee
a, a:visited
  color: $color
a
  text-decoration: none
  &:hover
    text-decoration: underline
.vmiddle
  display: flex
  align-items: center
.section
  padding: 40px 0
  @media (max-width: $small-screen)
    padding: 20px 0
.text-with-img
  display: flex
  align-items: flex-start
  @media (max-width: $small-screen)
    flex-direction: column
  img 
    width: 30%
    margin: 0 20px 0 0
    @media (max-width: $small-screen)
      width: 100%
      margin: 0 0 20px 0
  .news
     font-weight: 100
     margin-bottom: 10px
     @media (max-width: $small-screen)
       text-align: center
.logo
  height: 45px
  display: block
  margin-right: 30px
.header
  .header-top
    display: flex
    align-items: flex-end
    margin: 20px 0
    justify-content: space-between
    form
      width: 100%
  .header-bottom
    display: flex
    margin-bottom: 20px
  .header-link
    padding: 10px 15px
    &.active
      background: #dddddd
    &.clickable
      text-decoration: none
      &:hover
        opacity: .7
.file-picker
  display: flex
  flex-direction: column
  align-items: center
  width: 100%
  padding: 20px
  border: 3px dashed #cccccc
  background: white
  &.over
    background: #dddddd
.meme-form
  display: flex
  margin-bottom: 30px
  &.single
    flex-direction: column
    .img
      width: 100%
      max-height: 400px
      object-position: center
  .img
    object-position: top
    object-fit: contain
    background-color: #eeeeee
    width: 300px
    @media (max-width: $small-screen)
      width: 150px
  .control
    flex: 1
    display: flex
    flex-direction: column
    align-items: flex-end
    .caption
      align-self: flex-start
      display: flex
      align-items: center
    .inputs
      display: flex
      margin-bottom: 10px
      @media (max-width: $medium-screen)
        flex-direction: column
    .error
      margin-top: 10px
.refresh
  position: relative
  top: -20px
.gallery
  margin-top: 20px
  .gallery-item
    margin: 0 20px 20px 0
    display: inline-block
    position: relative
    img
      height: 200px
    .actions
      display: none
      position: absolute
      top: 0
      left: 0
      background: white
    &:hover
      .actions
        display: block
.spacing
  height: 20px
li
  margin: 10px 0